*.pyc
*.py.swp
*.css.swp
*.html.swp
*.js.swp
shelter_survey/local_settings.py
.project

.pydevproject
sqlite.db

static_srv/*
static/olwidget
templates/admin/olwidget_change_list.html
templates/olwidget
spreadsheets/*
backups/*
build/*
data/*
